// MyVuetable.vue

<template>
	<div class="ui container">
		<div class="vuetable-pagination ui basic segment grid">
			<vuetable-pagination-info
				ref="paginationInfo"
			></vuetable-pagination-info>
			<vuetable-pagination
				ref="pagination"
				@vuetable-pagination:change-page="onChangePage"
			></vuetable-pagination>
		</div>
		<vuetable
			ref="vuetable"
			api-url="https://vuetable.ratiw.net/api/users"
			:fields="fields"
			pagination-path=""
			@vuetable:pagination-data="onPaginationData"
			:per-page="20"
		></vuetable>
	</div>
</template>

<script>
import Vuetable from "vuetable-2/src/components/Vuetable";
import accounting from "accounting";
import moment from "moment";
import VuetablePagination from "vuetable-2/src/components/VuetablePagination";
import VuetablePaginationInfo from "vuetable-2/src/components/VuetablePaginationInfo";
export default {
	components: {
		Vuetable,
		VuetablePagination,
		VuetablePaginationInfo,
	},
	data() {
		return {
			fields: [
				"name",
				"email",
				{
					name: "address.line1",
					title: "Address 1",
				},
				{
					name: "birthdate",
					titleClass: "center aligned",
					dataClass: "center aligned",
					callback: "formatDate|DD-MM-YYYY",
					sortField: "birthdate",
				},
				{
					name: "nickname",
					callback: "allcap",
				},
				{
					name: "gender",
					titleClass: "center aligned",
					dataClass: "center aligned",
					callback: "genderLabel",
				},
				{
					name: "salary",
					titleClass: "center aligned",
					dataClass: "right aligned",
					callback: "formatNumber",
					visible: false,
				},
			],
		};
	},
	methods: {
		allcap(value) {
			return value.toUpperCase();
		},
		genderLabel(value) {
			return value === "M"
				? '<span class="ui teal label"><i class="large man icon"></i>Male</span>'
				: '<span class="ui pink label"><i class="large woman icon"></i>Female</span>';
		},
		formatNumber(value) {
			return accounting.formatNumber(value, 2);
		},
		formatDate(value, fmt = "D MMM YYYY") {
			return value == null ? "" : moment(value, "YYYY-MM-DD").format(fmt);
		},
		onChangePage(page) {
			this.$refs.vuetable.changePage(page);
		},
		onPaginationData(paginationData) {
			this.$refs.pagination.setPaginationData(paginationData);
			this.$refs.paginationInfo.setPaginationData(paginationData);
		},
	},
};
</script>
