<template>
  <div id="app">
    <h2>Vue Table</h2>
    <MyVuetable />
  </div>
</template>

<script>
import MyVuetable from "./components/MyVuetable";
export default {
  name: "App",
  components: {
    MyVuetable
  }
};
</script>

<style>
#app {
  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
  margin-top: 60px;
}
</style>
